*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variantes de colores
$color1:rgb(25, 35, 172);
$color2:rgb(0, 119, 255) ;
$color3:rgb(34, 19, 122);
$color4: rgb(0, 110, 255);

//Variantes de fuentes
$font-family1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family2: Verdana, Geneva, Tahoma, sans-serif;
$font-family3: fantasy;
$font-family4: Arial, Helvetica, sans-serif;


//clases generales


.text_center {
    text-align: center;
    font-weight: bold;
    background-color:$color1;
    font-family: $font-family1;
}


//bootstrap

.navbar{
    background-color: $color2;

}

//jumbotron

.jumbotron{
    background-image: url(imagenes/letter-gd6048ddd6_1280.jpg);
    background-size: cover;
    background-position: center ;
    text-shadow: 0 0 5px #333;
    border-radius: 0 ;
    margin-bottom: 0;
    height: 300px;
}

.jumbotron h1{
    color: $color3 ;
}

.call{
    display: grid;
    place-items: center;
}

.btn-warning{
    background-color: $color3;
    color:blanchedalmond ;

}

//jumbotron fin

//nosotros

h2{
    background-color: $color2;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}



.nleft{
background-image: url(imagenes/ceritas.jpg);
background-size: cover;
background-position: center;
}



//main

main{
    height: 1000px;
    width: 100%;
    background-color: #333;
    background-image: url(imagenes/historia.jpg);
    background-size: cover;
    background-position: center;
    color: #0e010d;
    margin-bottom: 0;
}
//iframe
.iframe{
    height: auto;
    width: 100%
}

.footer{
    background-color: lightblue;
    position: absolute;
    bottom: auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family:$font-family2;
    color: $color4;
    text-align: center;
    
}

.redes a{
    color: rgb(32, 12, 121);
    font-size: 30px; 
    letter-spacing: 20px;
}

.redes a:hover{
    color: rgb(221, 117, 19);
}

//usuario

#centrar_text{
    text-align: center;
    font-weight: bold;
    text-decoration:underline;
}
    
#footer_usuario{
    background-color: $color2;
    padding: 100px;
}



//productos
.item{
    background-position: center;
    background-size: cover;
    height: 200px;
    border: 3px solid #333;
}

.item1{
    background-image: url(imagenes/agenda.jpg);
 }
.item2{
    background-image: url(imagenes/anotador.jpg);
}
.item3{
    background-image: url(imagenes/crayon-g8373db7bd_1280.jpg);
}
.item4{
    background-image: url(imagenes/marcador.jpg);
}
.item5{
    background-image: url(imagenes/marcadores\ 2.jpg);
}
.item6{
    background-image: url(imagenes/resaltador.jpg);
}
.item7{
    background-image: url(imagenes/resma.jpg);
}
.item8{
    background-image: url(imagenes/separadores.jpg);
}
.item9{
    background-image: url(imagenes/boligrafo.jpg);
}
.item10{
    background-image: url(imagenes/calculadora.jpg);
}
.item11{
    background-image: url(imagenes/clips-gbb2b2b81e_1280.png);
}
.item12{
    background-image: url(imagenes/tijeras.jpg);
}




//ordenar la lista de contacto
.list_contacto {
    text-align: center;
    font-family: $font-family2;
    font-size: 20px;
}

.list_contacto ul{
    list-style: none;
    display:list-item;
  
}

.list_contacto ul li{
    margin-bottom: 15px;
}

.list_contacto h1{
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline;
    color: rgb(14, 13, 13);
    font-family: $font-family3;
    text-decoration: underline;
}

   
.iframe_contacto{
    width: 100%;
    height:100vh;
    margin-bottom: 0;
    
  
}
//historia
#footer_historia{
    background-color:$color2; 
    padding: 100px;
}

#text_historia{
    text-align: left;
    font-size: x-large;
    font-family:$font-family4;
}

#text_historia h1{
    text-align:left;
    color:#010a0c;
    text-decoration: solid;
    font-family: $font-family3;
    text-decoration: underline;
    
   
}



.ajust_imagenes_productos{
    height: 40vh;
    width:100%;
    object-fit:cover;

    
  
}